section{
    display: flex;
    flex-direction: row;
}

article {
    background-color: olive;
    height: 100vh;
    flex:1;
}

article:nth-child(2) {
    background-color: darkgoldenrod;

}

article:nth-child(3) {
    background-color: green;
}